.bg-container {
  background-color: #9ba9eb;
  min-height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: Roboto;
}
.logo-icon {
  height: 50px;
}
.card-1 {
  background-color: #5763a5;
  height: 420px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
}
.card-2 {
  background-color: #5763a5;
  min-height: 420px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.card-1a {
  width: 45%;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  background-color: #454f84;
}
.card-1b {
  width: 45%;

  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app-icon {
  height: 350px;
}
.card-1a-title {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 25px;
  margin-left: 25px;
}
.web-icon {
  height: 21px;
  padding-left: 5px;
  padding-right: 5px;
}
.input-element-1 {
  background-color: #f8fafc;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 7px;
  width: 85%;
  margin: 20px;
}
.inputEl {
  width: 100%;
  height: 40px;
  margin-left: 7px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #64748b;
  font-family: Roboto;
  padding-left: 7px;
}
.add-btn {
  background-color: #0b69ff;
  color: white;
  border-width: 0px;
  min-height: 40px;
  padding: 7px;
  font-size: 20px;
  font-family: Roboto;
  width: 90px;
  border-radius: 7px;
  margin-right: 50px;
  cursor: pointer;
  outline: none;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-2-bottom-section {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.count-card {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 50px;
  background-color: transparent;
  padding: 3px;
  height: 20px;
  color: white;
  font-family: Roboto;
  margin: 15px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 25px;
}
.search-tab {
  background-color: white;
  align-self: flex-end;
  justify-self: flex-end;
  width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
  height: 35px;
}
.search-icon {
  height: 30px;
}
.searchbar {
  height: 30px;
  border-width: 0px;
  outline: none;
  font-size: 17px;
}
hr {
  height: 35px;
}
.count-container {
  display: flex;
}

.vertical-line {
  height: 2px;
  background-color: #94a3b8;
}
.checkbox-container {
  align-self: flex-end;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  margin: 3px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#check {
  height: 20px;
  width: 20px;
  margin-right: 7px;
}
label {
  font-size: 15px;
}
.emptyImg {
  height: 300px;
}
.empty-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}
.unordered-list {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
